body {
  background-color: #fff;
  color: #565656;

  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 20px;
  line-height: 26px;
  text-align: center;

  background-image: image-url('asa1color.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}

.logo {
  width: 120px;
}

header {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 5px 0;
  margin-bottom: 100px;
}


.datebox {
  margin: 50px auto;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 50px;
}

.showbox {
  display: block;
  margin: 0 auto;
  width: 700px;
}

p,
ol,
ul,
td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 16px;
}

a {
  color: #565656;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  border-radius: 5px;

  &:visited {
    color: #565656;
  }

  &:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {

  &.field,
  &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: skyblue;
  font-size: 20px;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
  margin: 0 auto;
}

#error_explanation {

  margin: 0 auto;
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: red;
    color: #fff;
  }

  ul li {
    font-size: 16px;
    list-style: square;
  }
}

label {
  display: block;
}

.top {
  text-align: center;
  color: #fff;

  h1 {
    font-size: 74px;
    margin-top: 150px;
  }

  h2 {
    font-size: 50px;
  }

  h3 {
    font-size: 35px;
  }

  a {
    margin-top: 50px;
    font-size: 30px;
    display: inline-block;
    padding: 20px;
    border-radius: 5px;

    &:hover {
      background-color: #565656;
    }
  }
}